<FilesMatch "\.(bak|inc|lib|sh|tpl|lbi|dwt)$">
Require all granted
</FilesMatch>

RewriteEngine On
#RewriteBase /

##Wxpay
RewriteRule ^wxpay/(warning|payfeedback|getpackage|pay)$ index\.php\?g=Wap&m=Wxpay&a=$1 [L]

##QQ Login
RewriteRule ^qqloginredirect(.*)$ index\.php\?g=Xiaoqu&m=People&a=qqloginredirect&%{QUERY_STRING} [L]
##Weibo Login
RewriteRule ^wbloginredirect(.*)$ index\.php\?g=Xiaoqu&m=People&a=wbloginredirect&%{QUERY_STRING} [L]
